/* Main styling for document */
html, body, #mapCanvas {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}
/* Used to show and hide all members of the document */
.invisible {
  display: none;
}
/* Formatting for the slider on the bottom */
.sans {
  font-size: 13px;
  font-family: Arial, sans-serif;
  display: inline-block;
}
.right {
  float: right;
  padding-right: 25%;
}
.left {
  float: left;
  padding-left:25%;
}
.sky {
  background-color: #afe1f2;
}
#mapShell {
  margin-left: auto;
  margin-right: auto;
  display: block;
  height: 500px;
  width: 1000px;
}
#sliderShell {
  margin-left: auto;
  margin-right: auto;
  display: block;
  height: 20px;
  width: 1000px;
}
#labelShell {
  margin-left: auto;
  margin-right: auto;
  display: block;
  height: 20px;
  width: 1000px;
}
#slider {
  width: 50%;
  margin-left: 25%;
  margin-top: 10px;
}
#buttonShell {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
#startButton {
  color: white;
  font-family: Arial, sans-serif;
  background-color: #8888aa;  
  margin: 0 auto 0 auto;
  display: block;
}
#scrolling {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
/* Formatting for the search bar */
#pac-input {
  background-color: #fff;
  border-color: #0000af;
  padding: 5px 11px 5px 13px;
  margin: 20px 0 0 0;
  width: 50%;
  font-size: 20px;
  font-weight: 300;
  font-family: Arial, sans-serif;
  text-align: center;
}
#pac-input:focus {
  border-color: #4d90fe;
  margin-left: -1px;
  padding-left: 14px;
  width: 50%;
}
#canvas {
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
}